.venv/
lung_n/
lung_scc/
lung_aca/
lung_image_sets/
test_set.csv
train_set.csv
features.pkl
graph.pkl
graph.pkl.temp
graph_visualization.png
mehop.cpython-312.pyc
feature_similarity_graph.png
features.csv
similarity_graph.png
resnet_model.pth
gpu_versions/
deepsek/
mehop_gui_v1.py
mehop_gui_v2.py
mehp.ipynb
test/
train/
gata.py
mehop.py
enet.ipynb
mehop.ipynb
pj1.ipynb
graphcreation.py
rnet_solo.py
enet_train.py
enet.py
enet.ipynb
claude/
mehop.py